/eclipse/
/.metadata/
/swtbot/
.DS_Store
/*/bin

examples/rcp/*/bin/
examples/gef/*/bin/

/*/screenshots

org.eclipse.swtbot.releng/.git.properties

org.eclipse.swtbot.releng/externals/eclipse-SDK-*
org.eclipse.swtbot.releng/externals/libs
org.eclipse.swtbot.releng/externals/eclipse-test-framework-3.3.zip
org.eclipse.swtbot.releng/externals/GEF-runtime-3.4.2.zip

org.eclipse.swtbot.releng/target/
org.eclipse.swtbot.releng/build.developer.properties
org.eclipse.swtbot.releng/build.properties
org.eclipse.swtbot.releng/artifacts/
org.eclipse.swtbot.releng/to-upload/

org.eclipse.swtbot.releng/test-sandbox/results/
org.eclipse.swtbot.releng/test-sandbox/screenshots/
org.eclipse.swtbot.releng/test-sandbox/test-eclipse/


org.eclipse.swtbot.updatesite/target/
org.eclipse.swtbot.updatesite/build/

/swtbot/

org.eclipse.swtbot.releng/test-sandbox/passFail.txt
org.eclipse.swtbot.releng/test-sandbox/org.eclipse.swtbot.eclipse.ui.test.ser

org.eclipse.swtbot.swt.finder.test/keyboard.layout
org.eclipse.swtbot.swt.finder.test/keyboard.layout.filtered
/eclipse-3.4/
/eclipse-3.5/
/eclipse/

*recorder*
External Plug-in Libraries
