/eclipse/
/.metadata/
.svn/
/swtbot/
.DS_Store
/*/bin

examples/rcp/*/bin/

/*/screenshots

org.eclipse.swtbot.releng/externals/eclipse-SDK-*
org.eclipse.swtbot.releng/externals/libs
org.eclipse.swtbot.releng/externals/eclipse-test-framework-3.3.zip


org.eclipse.swtbot.releng/target/
org.eclipse.swtbot.releng/build.developer.properties
org.eclipse.swtbot.releng/build.properties
org.eclipse.swtbot.releng/artifacts/
org.eclipse.swtbot.releng/to-upload/
org.eclipse.swtbot.releng/javadoc

org.eclipse.swtbot.releng/test-sandbox/results/
org.eclipse.swtbot.releng/test-sandbox/screenshots/
org.eclipse.swtbot.releng/test-sandbox/test-eclipse/


org.eclipse.swtbot.updatesite/target/
org.eclipse.swtbot.updatesite/build/

/swtbot/

org.eclipse.swtbot.junit4_x/.classpath
org.eclipse.swtbot.junit4_x/META-INF/MANIFEST.MF
org.eclipse.swtbot.junit4_x/build.properties

org.eclipse.swtbot.releng/test-sandbox/passFail.txt
org.eclipse.swtbot.swt.finder.test/keyboard.layout
org.eclipse.swtbot.swt.finder.test/keyboard.layout.filtered
org.eclipse.swtbot.eclipse.ui/.classpath
org.eclipse.swtbot.eclipse.ui/build.properties